In [1]:
import pandas as pd
from pyhive import hive

In [2]:
conn = hive.Connection(host="localhost", port=10000)

In [4]:
df = pd.read_sql("SELECT * FROM default.wti_price", conn)

In [5]:
df.head()

,wti_price.date1,wti_price.close,wti_price.open,wti_price.high,wti_price.low
0,2020-03-11,32.98,34.62,36.35,32.56
1,2020-03-10,34.36,30.37,35.02,30.20
2,2020-03-09,31.13,32.87,34.88,27.34
3,2020-03-06,41.28,46.09,46.38,41.05
4,2020-03-05,45.90,47.13,47.57,45.65

In [6]:
df.describe()

       wti_price.close  wti_price.open  wti_price.high  wti_price.low
count      3614.000000     3554.000000     3595.000000    3602.000000
mean         73.224920       73.301925       74.264281      72.156191
std          22.148189       22.088121       22.233873      21.982630
min          28.490000       28.140000       29.190000       0.000000
25%          54.152500       54.250000       55.215000      53.432500
50%          70.530000       70.665000       71.660000      69.395000
75%          92.720000       92.755000       93.670000      91.555000
max         145.290000      145.450000      147.270000     143.720000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3614 entries, 0 to 3613
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   wti_price.date1  3614 non-null   object
 1   wti_price.close  3614 non-null   float64
 2   wti_price.open   3554 non-null   float64
 3   wti_price.high   3595 non-null   float64
 4   wti_price.low    3602 non-null   float64
dtypes: float64(4), object(1)
memory usage: 141.3+ KB